.buildpath
.project
.settings/org.eclipse.php.core.prefs
application/logs/*
/nbproject/private
/nbproject/private/*.properties
cache/

easemob.txt

token/easemob.txt
/composer.json
/contributing.md
/license.txt
/readme.md
/readme.rst
/avatar
/cache
/upload
/application/config/database.php
/application/logs